//colors

$custom-bg-dark-color: #2e0c59;
$custom-bg-light-color: #f7f1fd;
$custom-bg-medium-color: #9f94c8;
$custom-text-color-black: #212529;
$custom-text-color-purple: #5c0cb8;
$custom-text-color-gray: #f4f4f5;

//font size and weight

$font-size-greeting: 28px;
$font-size-title: 22px;
$font-size-label: 22px;
$font-weight-greeting: 500;
$font-weight-title: 700;
$font-weight-label: 400;
